@import '.././../../sass/components/variables';
.card-panel {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 75vh;
  width: 100%;
  .container {
    position: relative;
    width: 90%;
    padding: {
        top: 2%;
    }
    .rooms-container{
      display:table;
      .boxText{
        display: table-cell;
        width: 8.7%;
        vertical-align: top;
        cursor: pointer;
      }
      .boxTime{
        display: table-cell;
        width: 100%;
        vertical-align: top;
      }
    }
    // .card-panel > .container > .row::before{
    //   content: "";
    //   border-bottom:2px solid #000;
    //   display: block;
    //   top: -18px;
    //   width: 72px;
    //   position: relative;
    //   left: 21px;
    // }
    // .card-panel > .container > .row:after{
    //   content: "";
    //   border-bottom:2px solid #000;
    //   display: block;
    //   top: -18px;
    //   width: 72px;
    //   position: relative;
    //   left: 21px;
    // }
    .timeline-hour {
      color: $c_text_primary;
      &:after{
        content: "";
        border-bottom:2px solid #000;
        display: block;
        top: -19px;
        width: 22px;
        position: relative;
        left: -28px;
        opacity: 0.1;
      }
      &~::after{
        display: none;
      }
      &:before {
        content: "";
        height: 50vh;
        width: 1px;
        border: 0.1px solid black;
        position: absolute;
        border-style: dashed;
        opacity: 0.1;
        top:49px;
      }
      span{
        position: relative;
        top: -25px;
        left: -31px;
        &:before{
          content: "";
          display: inline-block;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          border:2px solid #000;
          position: relative;
          top: 22px;
          left: 25px;
          opacity: 0.1;
        }
        &:after{
          content: "";
          border-bottom: 2px solid #000;
          display: block;
          top: 8px;
          width: 75px;
          position: relative;
          left: 37px;
          opacity: 0.1;
        }

        @media #{$mq_tablet}{
          left: -18px;
          &:before{
            top: 42px;
            left: 12px;
          }
          &:after{
            width: 29px;
            left: 24px;
          }
          @media #{$mq_landscape}{
            &:after{
              width: 54px;
              left: 23px;
              top: 29px;
            }
          }
        }
      }
      @media #{$mq_portrait} {
        padding-left: 22px;
      }
      @media #{$mq_tablet}{
        @media #{$mq_landscape}{
          padding-left: 0px;
          &::after{
            top: 2px;
          }
        }
        &:after{
          width: 12px;
          left: -18px;
        }
      }
    }
    .timeline-hour:last-child span {
      &:after{
        width: 22px;
      }
      @media #{$mq_tablet}{
        &:after{
          width: 12px;
          left: 24px;
        }
      }
    }
    .rooms {
      &-name{
        color: $c_text_primary;
        width: 120px;
        padding: 5% 30px 0 0;
        display: -webkit-box;
        position: relative;
        left: -15px;
        top: -15px;
        line-height: 1;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 35px;
        @media #{$mq_tablet}{
          width: 84px;
          white-space: normal;
          top: -15px;
          height: 42px;
        }
        &:after {
          content: "";
          width: 0;
          border: 0.5px solid $c_text_primary;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.5s;
        }
        &:hover {
          &:after {
            width: 80%;
          }
        }
      }
    }
  }
}

.row {
  height: 40px;
}

#button-creation {
  position: absolute;
  display: inline-block;
  right: 24px;
  bottom: 24px;
}

.row .col.s1 {
  width: 7.6923%;
}

.modal-overlay-sala{
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 998;
  display: block;
  opacity: 0.5;
}

.modal{
  display: block;
  z-index: 999;
  top:20%;
  height: 363px;
}

#modalSalas{
  .modal-content{
    float:right;
    background:#fafafa;
    width:60%;
    position:relative;
    padding: 23px;
    &::before{
      position: absolute;
      content: "";
      top: -12px;
      left: -75px;
      height: 388px;
      transform: rotate(158deg);
      box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    }
    &::after{
      position:absolute;
      content:"";
      width:0;
      top:0;
      left:-145px;
      height:0;
      border: {
        bottom:363px solid transparent;
        right:145px solid #fafafa;
      }
    }
    .datosSala{
      padding-left: 25px;
      p::before{
        position: relative;
        left: -5px;
        top: 2px;
        text-transform: lowercase;
        font-family: "Material Icons";
        box-shadow:none;
      }
      p.localizacionSala::before{
        content: 'location_city';
      }
      p.nombreSala::before{
        content: 'art_track';
      }
      p.personasSala::before{
        content: 'event_seat';
      }
      p.descripcionSala::before{
        content: 'assignment';
      }
    }
    .discard {
      // font-family: "Material Icons";
      text-transform: lowercase;
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 0;
      margin: 0;
      height: 30px;
      width: 30px;
      line-height: 30px;
      background-color: transparent;
      color: $brink-pink;
      box-shadow: none;
      font-size: 1.5rem;
      transition: all 0.5s;
      &:hover {
        color: white;
        background: {
          color: $brink-pink;
        }
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2)
      }
    }
    .title{
      color:$c_primary;
      font-size: 1.3rem;
    }
  }
  .imgModalSala{
    float:left;
    width:40%;
    height: 100%;
    background: {
      position: center;
      size: cover;
    }
  }
}

.defaultFoto{
  background-image: url('~/assets/images/default.jpg');
}

.fotoSala1{
  background-image: url("~/assets/images/sala-1.jpg");
}

.fotoSala2{
  background-image: url("~/assets/images/sala-2.jpg");
}

.fotoSala3{
  background-image: url("~/assets/images/sala-3.jpg");
}

.fotoSala4{
  background-image: url("~/assets/images/sala-4.jpg");
}

.fotoSala5{
  background-image: url("~/assets/images/sala-5.jpg");
}
@-moz-document url-prefix() {
  .timeline-hour {
    span{
      @media #{$mq_tablet}{
        &:after{
          width: 53px!important;
        }
      }
    }
  }
  .timeline-hour:last-child span {
    @media #{$mq_tablet}{
      &:after{
        width: 12px!important;
      }
    }
  }
}
