<div class="container">
  <form action="search" class="row">
    <div class="col s12">
      <div class="col s12">
        <h3>reserva de salas</h3>
      </div>
      <!-- Search input-->
      <div class="input-field col s12 searcher">
        <input type="text" id="search-index-input" class="autocomplete input-search" [(ngModel)]="filter.nombreOficina" name="inputSearch"
          autocomplete="off">
        <label for="search-index-input">Busca una oficina para comenzar la reserva ...</label>
      </div>
      <!-- END Search input-->
      <!-- Resuts input-->
      <div class="col s12 list-group mx-auto index-search-results" *ngIf="filter.nombreOficina != null && filter.nombreOficina != '' ">
        <div class="collection">
          <a class="collection-item" (click)="openOficina(oficina.idOficina)" *ngFor="let oficina of oficinas | oficinaFilter:filter">
           <span>{{oficina.nombreOficina}}</span>
          </a>
        </div>
      </div>
      <!-- END Resuts input-->
    </div>
  </form>
</div>
<label class="copyright">Diseñado por: <a href="http://www.tecnologiasplexus.com/" target="_blanck">Plexus Technologies</a></label>