<div *ngIf="currentReserva.asunto; else contenidoElse ">
    <label class="timelineItem-label" [style.width]="getReservaWidth()" [style.marginLeft.%]="getReservaMargin()" for="reserva-{{currentReserva.idReserva}}">{{currentReserva.asunto}} - {{currentReserva.usuario.nombre}}</label>
</div>
<ng-template #contenidoElse>
    <label class="timelineItem-label" [style.width]="getReservaWidth()" [style.marginLeft.%]="getReservaMargin()" for="reserva-{{currentReserva.idReserva}}">{{currentReserva.usuario.nombre}}</label>
</ng-template>
<span class="timelineItem tooltipped button-action-reserva" [style.width]="getReservaWidth()" [style.marginLeft.%]="getReservaMargin()"
    [style.background]="getReservaColor()" id="reserva-{{currentReserva.idReserva}}" (click)="edit()">
    <div class="timelineItem-tooltip" id="tooltip-reserva-{{currentReserva.idReserva}}">
        <div class="tooltip-content">
            <p>{{currentReserva.asunto}}</p>
            <p>{{currentReserva.horaDesde}} - {{currentReserva.horaHasta}}</p>
            <p>{{currentReserva.usuario.nombre}}</p>
            <p>{{currentReserva.usuario.email}}</p>
            <p>Haz click en el Timeline para editar la reserva</p>
        </div>
    </div>
</span>
