<div class="row" id="agenda">
  <div *ngIf="salas.length > 0">
      <div class="row rooms" *ngFor="let sala of salas; let i = index">
        <div class="col s12 rooms-name" *ngIf="numberroom == sala.idSala">
          <h3 id="{{i}}">{{sala.nombre}} </h3>
        </div>
      </div>
    </div>
<button (click)="x()">x</button>
    <!--se usa para centrar el calendario en dispositivos grandes-->
    <section class="col s0 l2"></section>
    <div id="calendario" class="col l8 s12">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
            (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
    </div>
</div>
