@charset "UTF-8";

@font-face {
  font-family: "rsalas";
  src:url("fonts/rsalas.eot");
  src:url("fonts/rsalas.eot?#iefix") format("embedded-opentype"),
    url("fonts/rsalas.woff") format("woff"),
    url("fonts/rsalas.ttf") format("truetype"),
    url("fonts/rsalas.svg#rsalas") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rsalas" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rsalas" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\61";
}
.icon-chmod:before {
  content: "\62";
}
